<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<display-name>myproject</display-name>

	<!-- Root context: 서비스/리포지토리/마이바티스 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
      /WEB-INF/spring/action-mybatis.xml
      /WEB-INF/spring/root-context.xml
    </param-value>
	</context-param>

	<!-- 업로드 베이스 디렉터리 (중복 제거) -->
	<context-param>
		<param-name>articleImageRepo</param-name>
		<!-- 운영 경로 -->
		<param-value>/home/hosting_users/gusdnd2346/www/board/article_image</param-value>
		<!-- 로컬(예시) <param-value>C:\board\article_image</param-value> -->
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- UTF-8 필터 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>commentTrace</filter-name>
		<filter-class>com.myspring.myproject.web.CommentTraceFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>commentTrace</filter-name>
		<url-pattern>/comment/*</url-pattern>
	</filter-mapping>
	<!-- DispatcherServlet: *.do 로만 매핑 (슬래시(/) 매핑 제거) -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
