<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.myspring.myproject.board.mapper.CommentMapper">

	<select id="selectCommentsWithReplies" parameterType="int"
		resultType="com.myspring.myproject.board.dto.CommentDTO">
		SELECT
		c.id AS id,
		c.article_no AS articleNo,
		c.parent_id AS parentId,
		c.writer AS authorName,
		c.content AS content,
		c.created_at AS createdAt
		FROM comments c
		WHERE c.article_no = #{value}   <!-- 단일 파라미터일 때 안전하게 #{value} -->
		ORDER BY c.created_at ASC
	</select>

		<insert id="insertComment"
			parameterType="com.myspring.myproject.board.dto.CommentDTO">
			INSERT INTO comment
			(article_no, parent_id, writer, content, created_at)
			VALUES
			(#{articleNo}, #{parentId,jdbcType=BIGINT}, #{writer}, #{content},
			CURRENT_TIMESTAMP)
		</insert>

</mapper>